.atdw-wls-page .results-per-page {
  float: right;
}

.atdw-wls-page .results-per-page span {
  float: left;
  font-weight: bold;
  line-height: 22px;
  vert-align: middle;
}

.atdw-wls-page .results-per-page .result-per-page {
  float: left;
  overflow: hidden;
}

.atdw-wls-page .results-per-page .result-per-page li {
  list-style: none;
  display: inline;
  float: left;
  padding: 3px;
  margin-left: 10px;
}

.atdw-wls-page .results-per-page .results-displaying {
  clear: both;
}

.atdw-wls-page .search-results li {
  position: relative;
  list-style: none;
  padding: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  border: solid #ADB3A5 1px;
}

.atdw-wls-page .search-results li a.product-image {
  float: left;
  margin-right: 15px;
}

.atdw-wls-page .search-results li .details {
  float: left;
  color: #636363;
  max-width: 70%;
}

.atdw-wls-page .search-results li .details .date {
  font-weight: bold;
  margin: 10px 0px;
  font-size: 14px;
  color: #396B9C;
}

.atdw-wls-page .search-results li .details .address, .atdw-wls-page .search-results li .details .description {
  margin: 5px 0px;
  font-family: "Trebuchet MS",Geneva,Arial,Helvetica,SunSans-Regular,sans-serif;
  font-size: 9pt;
  font-weight: normal;
  line-height: 12pt;
}

.atdw-wls-page .search-results li .details .address {
  color: #396B9C;
}

.atdw-wls-page .search-results li .icons {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.atdw-wls-page .no-results {
  font-weight: bold;
  font-size: 16px;
}

.atdw-wls-page li label {
  margin-left: 5px;
}

.atdw-wls-page .paging li {
  list-style: none;
  display: inline;
  float: left;
  padding: 3px;
  margin-right: 5px;
}

.atdw-wls-page .pageNumber, .atdw-wls-page .resultCount {
  cursor: pointer;
  text-transform: uppercase;
}